.about-us-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.about-us-container {
    width: 70ch;
    display: grid;
    gap: 30px;
}

.about-us-info{
    display: grid;
    gap: 10px;
}

.about-us-container h2 {
    font-size: 1.8rem;
}

.about-us-container h3 {
    font-size: 1.6rem;
}

.about-us-info p {
    font-size: 1rem;
}

@media screen and (max-width: 750px){
    .about-us-container {
        width: 60ch;
    }
}

@media screen and (max-width: 604px){
    .about-us-container {
        width: 50ch;
    }
}

@media screen and (max-width: 560px){
    .about-us-container {
        width: 40ch;
    }
}