.user-bar,
.search-bar-container,
.add-book-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user-bar {
    gap: 80px;
}

#search-in-library,
#add-to-library,
#search-in-library-guest {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.books-container,
.list-of-users,
.user-library {
    padding-top: 50px;
    display: grid;
    place-items: center;
    gap: 20px;
}

.book,
.user {
    width: 700px;
    height: 100px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.book,
.user {
    justify-content: space-between;
}

.user h4{
    width: 200px;
}

.book-left{
    gap: 10px;
    align-items: center;
}

.book-left,
.book-info,
.isbn {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.book-info,
.isbn {
    flex-direction: column;
    gap: 3px;
}

.book-cover-small {
    width: 50px;
    height: 70px;
}

.isbn,
.book-actions {
    padding-left: 50px;
}

.book-actions {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.book-action {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    height: 30px;
    width: 80px;
    border: none;
    background-color: #dac4b2;
    border-radius: 20px;
}

.book-action:hover {
    background-color: #F4EEE9;
}

.book-details-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.book-details-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.book-details-container h3 {
    font-size: 1.4rem;
}

.book-details-container p {
    width: 50ch;
    text-align: justify;
}

.book-cover-large {
    width: 304px;
}

@media screen and (max-width: 1275px) {
    .user-bar{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 910px) {
    .search-bar-container h3{
        display: none;
    }
}

@media screen and (max-width: 875px) {
    .book {
        width: 600px;
    }
}

@media screen and (max-width: 690px) {
    .isbn{
        display: none;
    }
}

@media screen and (max-width: 650px){
    .book {
        width: 500px;
    }
}

@media screen and (max-width: 560px){
    .add-book-container h3{
        display: none;
    }
    .book {
        width: 450px;
    }
}